.btn-container button {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  height: 55px;
  display: block;
  border-radius: 4px;
}

.btn-container h6 {
  font-size: 18px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .btn-container button {
    height: 65px;
  }

  .btn-container h6 {
    font-size: 22px;
  }
}