.home-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.home-banner-container {
  display: none;
}

.home-form-container {
  width: 100%;
  max-width: 480px;
}

.login-card {
  padding: 60px 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-card form {
  width: 100%;
}

.login-card h1 {
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.login-submit {
  margin-top: 50px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 40px;
  }

  .login-card {
    min-height: 450px;
    padding: 20px 50px;
  }
}

@media (min-width: 768px) {
  .home-container {
    padding: 40px 100px;
  }
}

@media (min-width: 992px) {
  .home-container {
    height: calc(100vh - 70px);
  }

  .home-banner-container {
    width: calc(100vw - 50%);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .home-banner-container h2 {
    font-size: 40px;
    padding-left: 30px;
    letter-spacing: -0.015em;
    margin-bottom: 15px;
  }

  .home-banner-container p {
    padding-left: 30px;
    font-size: 18px;
    letter-spacing: -0.015em;
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    padding: 40px 100px;
  }

  .home-banner-container {
    margin-top: 40px;
    width: 700px;
  }

  .home-banner-container h2 {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .home-banner-container p {
    font-size: 24px;
  }

  .login-card {
    height: calc(100vh - 150px);
    max-height: 600px;
  }
}

@media (min-width: 1400px) {
  .home-banner-container svg {
    width: 500px;
    height: auto;
  }
}
