.main-nav {
  padding-left: 20px;
  min-height: 70px;
}

.nav-logo-text h1 {
  font-size: 26px;
}

@media (min-width: 768px) {
  .main-nav {
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    padding-left: 50px;
  }
}
